<%- include("partials/header.ejs") %>

<div class="container">
    <br/>
    <h2>ACHIEVEMENTS</h2>
   <br/>
   <h5>KEY ACHIEVEMENTS OF RVCE</h5>
   <br/>
   <ul>
    <li>RVCE ranked 2nd among Technical Institutions selected for the World Bank supported TEQIP Phase II Sub Comp: 1.2, facilitated by MHRD GOI. World Bank supported TEQIP Phase II – Centre of Excellence in Macroelectronics for 3 years (2015-2018).</li>
    <li>RVCE ranked as the <strong>top institute (No:1)</strong> in the country among the self financed engineering for <strong>Return on Investment(RoI) / Value for Money for students by Outlook in June 2013.</strong></li>
    <li>RVCE is also No 1 in the area of sport under VTU in Karnataka among engineering colleges.</li>
    <li>Ministry of Human Resources Development (GoI) chose RVCE for showcasing India’s new</li>
    <li>Accreditation process during the review by International Observers.</li>
    <li>Strong R&D focus: Completed over 100 projects, The institute has about <strong>Ongoing projects</strong> from various funding agencies including DST, DBT, DRDO and its affiliated agencies, UGC, VTU, AICTE, CII, and VGST Karnataka <strong>( a transformation from about Rs.7 Crores in 47 years to close to Rs 45 Crores of approvals in 3 years).</strong></li>
    <li>RVCE’s ranking according to the survey of <strong>‘The Week’ magazine – June 2015: 9th</strong> among top 99 Pvt. Engg. Colleges in the country,<strong> 40th</strong> among top 100 Engineering colleges in the country and<strong> 5th</strong> among top 72 Pvt. Engineering colleges.</li>
    <li>RVCE has been awarded <strong>‘Sustainable Institute Industry Partnership SIIP-2014’ Award,</strong> by the Society for Educational & Entrepreneurship Development (SEED)-Chennia, during National Conference on “Sustainable Institute Industry Partnership – SIIP 2014” at IIT-Madras, Chennai.</li>
    <li>RVCE students team <strong>“BAJA (All-Terrain Vehicle - ATV)” emerged the National Champions</strong> at the <strong>vehicle designing championship held at National Institute of Technology (NIT) Jamshedpur</strong> during Dec. 2014. (44 institutions participated in the competition).</li>
    <li>Mr. Arvind M, 3rd Sem. Civil Engg. Dept. <strong>represented India in the World University Games 2015</strong>, held at Gwangju, South Korea during 3rd to 14th July 2015. </li>
   </ul>
  </div>

  <%- include("partials/footer.ejs") %>