<%- include("partials/header.ejs") %>

<div class="container">
    <h3>Admission</h3>
    <br/>
    <p><a href="https://rvce.edu.in/sites/default/files/READMISSION%20CIRCULAR%202023-2024.pdf">Readmission Circular 2023-2024</a></p>
    <p><a href="https://rvce.edu.in/sites/default/files/REVISED%20READMISSION%20CIRCULAR.pdf">Revised Readmission Circular 2023-2024</a></p>
    <p><a href="https://rvce.edu.in/sites/default/files/3%20KEA%20QUOTA%20-%20ADMISSION%20PROCESS%20%26%20REVISED%20FEES%20DETAILS%20FOR%201ST%20YEAR%20B.E%202023%20-%202024-1.pdf">KEA-CET Quota: Procedure and Revised Balance Fees Details for Admission 2023-2024</a></p>
    <p><a href="https://rvce.edu.in/sites/default/files/5MANAGEMENTQUOTA-ADMISSION-PROCESS-FEES-DETAILS-FOR1STYEARBE2023-2024.pdf">Management Quota: Procedure and Balance Fees Details for Admission 2023-2024</a></p>
    <p><a href="https://rvce.edu.in/sites/default/files/4%20COMEDK%20QUOTA%20-%20ADMISSION%20PROCESS%20%26%20FEES%20DETAILS%20FOR%201ST%20YEAR%20B.E%202023%20-%202024.pdf">COMED-K: Procedure and balance Fees Details for Admission 2023-2024</a></p>
    <p><a href="https://rvce.edu.in/sites/default/files/Sample%20Admission%20Application%20BEnew.pdf">BE: Sample Admission Application</a></p>
  </div>

  <%- include("partials/footer.ejs") %>