<%- include("partials/header.ejs") %>

<div class="dep">
    <h1>DEPARTMENTS</h1>
    <br/>
    <h5>COMPUTER SCIENCE ENGINEERING</h5>
    <h5>INFORMATION SCIENCE ENGINEERING</h5>
    <h5>ARTIFICIAL INTELLIGENCE & MACHINE LEARNING ENGINEERING</h5>
    <h5>ELECTRONICS AND COMMNUICATION ENGINEERING </h5>
    <h5>ELECTRICAL AND ELECTRONICS ENGINEERING</h5>
    <h5>ELECTRONICS AND TELECOMMUNICATION ENGINNERING</h5>
    <h5>ELECTRONICS AND INSTRUMENTATION ENGINEERING</h5>
    <h5>MECHANICAL ENGINEERING</h5>
    <h5>CIVIL ENGINEERING</h5>
  </div>

  <%- include("partials/footer.ejs") %>