<%- include("partials/header.ejs") %>

<div class="container">
    <h2>Events</h2>
    <br/>
    <p><a href="https://rvce.edu.in/sites/default/files/Antiragging_Week_Report_complete.pdf">Antiragging weak report from 12th-18th August 2023</a></p>
    <p><a href="https://rvce.edu.in/sites/default/files/NPTEL%20Toppers.pdf">NPTEL-Toppers</a></p>
    <p><a href="/internship">RVCE INTERNSHIP</a></p>
    
  </div>

  <%- include("partials/footer.ejs") %>