<%- include("partials/header.ejs") %>

<div class="container">
    <h2>FEE PAYMENT CIRCULAR</h2>
    <br/>
    <p><a href="https://rvce.edu.in/sites/default/files/2nd%20Year%20fee%20circular%202023%20final_compressed.pdf">ll Year UG Students 2023-2024</a></p>
    <p><a href="https://rvce.edu.in/sites/default/files/5th%20Semester%20fee%20circular.pdf">lll Year UG Students 2023-2024</a></p>
    <p><a href="https://rvce.edu.in/sites/default/files/4th%20Year%20Fee%20circular%2023-24.pdf">lV Year UG Students 2023-2024</a></p>
    <p><a href="https://wds-prd.rvei.edu.in:4430/sap/bc/ui5_ui5/ui2/ushell/shells/abap/Fiorilaunchpad.html">Online Payment Link</a></p>
   </div>

   <%- include("partials/footer.ejs") %>