<%- include("partials/header.ejs") %>

<div class="container">
    <h2>Internship 2023</h2>
    <br/>
    <p><strong>Four to Six - week Internship (blended mode) at RVCE for engineering Students ( Year Round)</strong></p>
    <br/>
    <p><strong>Industry Certified Internship</strong></p>
    <br/>
    <p>Meaningful internships empower engineering students with up skilling, enrichment of practical knowledge and career building. This is exactly why AICTE has made internships mandatory in engineering curriculum. The unique Industry Certified Internship makes students Ready Engineers; during internship the students work on state-of-the-art multidisciplinary projects, sharpen experimental, analytical and numerical skills, and learn the applicability of technologies in diverse fields. The Internship provides opportunity to associate with state-of-the-art infrastructure of the Centres of Excellence / Competence of RV College of Engineering, Bengaluru and hence to create professional network in their field of interest. The experiential learning during internship through one-to-one interaction with faculty researchers validates the skill-set of the students and hence catalyses the chances of getting placement.</p>
    <br/>
    <p>List of Internship Topics under different Centres of Excellence / Competence for Engineering students</p>
    <ol>
        <li><a href="https://rvce.edu.in/sites/default/files/1-Macroelectronics-NEW.pdf">Centre of Excellence in Macroelectronics</a></li>
        <li><a href="https://rvce.edu.in/sites/default/files/CISC-RVCE-CoE-IoT-Inernship.pdf">Centre of Excellence in Internet of Things (CISCO-RVCE)</a></li>
        <li><a href="https://rvce.edu.in/sites/default/files/5-comp-genomics.pdf">Centre of Excellence in Computational Genomics</a></li>
        <li><a href="https://rvce.edu.in/sites/default/files/6-Quantum%20Computing.pdf">Centre of Quantum Computing</a></li>
        <li><a href="https://rvce.edu.in/sites/default/files/Centre%20for%205G%20and%20Emerging%250AWireless%20TechnologiesFinal_CoE%20Internship%20Brochure.pdf">Centre for 5G and Emerging Wireless Technologies</a></li>
        <li><a href="https://rvce.edu.in/sites/default/files/11-WiC%20Internships.pdf">Women in Cloud Centre of Excellence in India</a></li>
        <li><a href="https://rvce.edu.in/sites/default/files/13-Visual%20Computing.pdf">Centre for Visual Computing</a></li>
    </ol>
    <p><strong>Registration Process </strong></p>
    <p>Select Internship in one of the above centres of Excellence/ Competence.</p>
    <br/>
    <p><strong>Payment of the Registration Fees:</strong></p>
    <p><strong>Rs. 3000/-+18%</strong> GST (Rupees Three thousand five hundred forty only)</p>
   </div>

   <%- include("partials/footer.ejs") %>