<%- include("partials/header.ejs") %>

<div class="container">
    <h1>Research</h1>
    <br/>
    <p><a href="https://www.rvce.edu.in/sites/default/files/Sponsored%20Research%20Projects%202018-2023.pdf">Sponsored Research Projects for the years 2018-2023</a></p>
    <p><a href="https://www.rvce.edu.in/sites/default/files/research%20guides.pdf">Guides and Research scholars Details</a></p>
    <p>Revised Focus on Research in line with the Institutional Vision</p>
    <br/>
    <p>Materials & Manufacturing Engineering with additional capability for Design for Optimization of Manufacturing processes and production. The broad areas of materials worked include polymers, composites, wide range of nano materials (metals, ceramics and semiconductors) and amorphous materials.</p>
    <br/>
    <p>Sensors, Networks and Communication(RF & THz)</p>
    <br/>
    <p>Nano Science, Surface Engineering & MEMS</p>
    <br/>
    <p>Data Mining/ Data warehousing or Business Intelligence, Cloud Computing,</p>
    <br/>
    <p>Environment And Sustainable Technologies with a focus on Smart buildings and Smart Cities</p>
    <br/>
    <p>Clean & Renewable Energy, Energy Efficiency & Management</p>
    <br/>
    <p>Large Area and Plastic / Printable (Flexible) Microelectronics</p>
    <br/>
    <p>Advanced Instrumentation</p>
    <br/>
    <p>Highways and Transport technology</p>
   </div>

   <%- include("partials/footer.ejs") %>