<%- include("partials/header.ejs") %>

<div class="container">
    <p><a href="https://www.rvce.edu.in/sites/default/files/UGC-RVCE-UNdertaking.png">UGC-RVCE Undertaking</a></p>
    <p><a href="https://www.vlab.co.in/">Virtual Labs</a></p>
    <p><a href="https://rvce.edu.in/sites/default/files/ug-rulebook-2021-guidelines.pdf">Hand Book For UG</a></p>
    <p><a href="https://www.rvce.edu.in/sites/default/files/Hostel-medical-fitness-form%20.pdf">Hostel Medical Fitness Form</a></p>
  </div>

  <%- include("partials/footer.ejs") %>